<!DOCTYPE html>
<html>
    <body>
        {% if error %}  
            <p><strong>Error</strong>: {{error}}</p>  
        {% endif %}  
        <p>Change Password</p>
        <form action="/password" method="post">
            <label>Current Password</label>
            <input type="password" name="oldpassword">
            <br>
            <label>New Password</label>
            <input type="password" name="newpassword">
            <br>
            <label>Confirm Password</label>
            <input type="password" name="cpassword">
            <br>
            <input type="submit" value="Change Password">
        </form>
    </body>
</html>