<!DOCTYPE html>
<html>
    <body>
        <p> Your Transaction Details</p>
        <table border=2>  
			<tr>
				<td>Transaction Id</td>  
				<td>Account NO</td> 
				<td>Transaction Type</td> 
                <td>Transaction Date</td> 
				<td>Transaction Amount</td>
                <td>Transaction Status</td> 
				<td>Balance</td>

			</tr>  
			{% for row in rows %}  
				<tr>  
					<td>{{row[0]}}</td>  
					<td>{{row[1]}}</td>  
					<td>{{row[2]}}</td>  
					<td>{{row[3]}}</td>  
                    <td>{{row[4]}}</td> 
                    <td>{{row[5]}}</td>  
                    <td>{{row[6]}}</td> 
				</tr>  
			{% endfor %}  
		</table>  
        <br><br>
        <a href="/home">back</a>
        <br><br>
        <a href="/trans">Make Transaction</a>
		<br><br>
        <a href="/logout">Logout</a>
    </body>
</html>