<!DOCTYPE html>
<html>
    <body>
		{% if msg %}  
            <p><strong>{{msg}}</strong></p>  
        {% endif %}
		<br>
        {% for row in rows %}
        <p>Hi {{row[0]}}</p>
        {% endfor %} 
        <p> Your Account Details</p>
        <table border=2>  
			<tr>
				<td>Name</td>  
				<td>Account NO</td> 
				<td>Account Type</td> 
				<td>Balance</td>
			</tr>  
			{% for row in rows %}  
				<tr>
					<td>{{row[0]}}</td>  
					<td>{{row[1]}}</td>  
					<td>{{row[2]}}</td>  
					<td>{{row[3]}}</td>  
				</tr>
			{% endfor %}  
		</table>  
        <br>
        <a href="/trans">Make Transaction</a>
		<br><br>
        <a href="/statement">View Statement</a>
		<br><br>
        <a href="/logout">Logout</a>
    </body>
</html>