<!DOCTYPE html>
<html>
    <body>
        <form action="/transconfirm" method="post">
            <label>Amount</label>
            <input type="text" name="amount">
            <br>
            <p>Transaction Type</p>
            <input type="radio" id="D" name="ttype" value="D">
            <label for="D">Deposit</label><br>
            <input type="radio" id="W" name="ttype" value="W">
            <label for="W">Withdrawl</label><br>
            <br>
            <input type="submit" value="confirm">
            <br><br>
        </form>
        <br><br>
        <a href="/home">back</a>
    </body>
</html>