<!DOCTYPE html>
<html>
    <body>
        {% if error %}  
            <p><strong>Error</strong>: {{error}}</p>  
        {% endif %}  
        <p>Employee Register</p>
        <form action="signup" method="post">
            <label>Employee ID</label>
            <input type="text" name="empid">
            <br>
            <label>Password</label>
            <input type="password" name="password">
            <br>
            <label>Confirm Password</label>
            <input type="password" name="cpassword">
            <br>
            <input type="submit" value="Register">
        </form>
        <br>
        <a href="employ">Already have a account? Login</a>
        <br>
    </body>
</html>